.main-page{
    background-color: #E9E5FF;
}

.menu{
    margin-top: 25%;
    margin-left: 25%;
}

.buttonRow{
    display: flex;
    justify-content: center;
}

.MenuButton{
    width: 280px;
    height: 66px;
    margin: 50px;
}

#add-btn{
    margin: 20px;
    width: 200px;
}

#name{
    margin-bottom: 30px;
}

#amount{
    width: 350px;
    height: 50px;
}

#add-form{
    margin-top: 10%;
    margin-bottom: 10%;
}

input{
    text-align: center;
}

.page-btn{
    margin:20px;
    width: 200px;
}
